
  :host(:not([hidden])) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }


.gradient-button {
    background: linear-gradient(45deg, #4CAF50, #2E7D32);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .gradient-button:hover {
    background: linear-gradient(45deg, #2E7D32, #4CAF50);
  }

 