<nav class="navbar">
  <div class="container brand">
    <a routerLink="/" href="https://angular.io/"><img src="assets/logo.png" alt="Angular Logo" class="brand-icon"></a>
    <a routerLink="/">To-Do</a>
    <a [routerLink]="['/list-manager']" routerLinkActive="router-link-active">Manage List</a>
  </div>
  <div class="navbar-buttons ms-auto">
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
    <a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
  </div>
</nav>
