.todo-item {
    padding: 10px 0;
    border-top: solid 1px #ddd;
    min-height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}

.todo-checkbox {
    flex-shrink: 0;
    margin: auto 1ex auto 0;
}

.todo-title {
    flex-grow: 1;
    padding-left: 11px;
    font-size: 21px;
}

.remove-btn {
    font-weight: bold;
    float: right;
}

.todo-complete {
    text-decoration: line-through;
}

.label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.label-container:hover input~.checkmark {
    background-color: #ccc;
}


/* Hide the browser's default checkbox */
.label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.label-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.label-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.remove-btn {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 2px solid rgb(231, 50, 50);
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
}

.remove-btn svg {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    width: 22px;
}


.remove-btn span {
    width: 150px;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    color: rgb(231, 50, 50);
    font-weight: 600;
    transition: .3s;
}

/* Red Gradient Button Styles */

.red-gradient-button {
    background: linear-gradient(45deg, #FF5252, #D32F2F);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .red-gradient-button:hover {
    background: linear-gradient(45deg, #D32F2F, #FF5252);
  }
  