<div class="todo-item">
    <label class="label-container">
   <input type="checkbox"
          class="todo-checkbox checkbox"
          (click)="completeItem()"
          [checked]="item.completed"/>
          <span class="checkmark"></span>
    </label>
    <span *ngIf="!item.editable" class="todo-title" [ngClass]="{'todo-complete': item.completed}" (click)="startEditing()">
     {{ item.title }}
   </span>
   <input class="todo-input" *ngIf="item.editable" [(ngModel)]="item.title" (blur)="completeEditing()" (keyup.enter)="completeEditing()">
 
     <button class="btn btn-red remove-btn red-gradient-button" (click)="removeItem()">
     <span></span>
       <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
           <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
       </svg>
     </button>
    </div>